{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}Title{% endblock %}</title>

    <link rel="stylesheet" href="{% static "base.css" %}" />
    <!--  -->
    {% block css_files %} {% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Quiz App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script>
      function deleteCookie(name) {
        document.cookie =
          name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      }

      function logout() {
        deleteCookie("user");
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <h3><a href="/"> Welcome to DriveTest </a></h3>
        <ul class="nav-links">
          {% if user %}
          <div class="login-div">
            <li>
              <button class="logout-btn" onclick="logout()">Logout</button>
            </li>
            <li><a class="welcome-btn" href="user">Welcome, {{user}} </a></li>
          </div>
          {% else %}
          <li><a href="/">Log in</a></li>
          <li><a href="/register">Sign up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <footer>
      <h2 class="footer-heading">DriveTest</h2>
      <div class="footer-links">
        <p>Home</p>
        <p>About</p>
        <p>Contact Us</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
      </div>
      <!-- <div class="footer-links">
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
      </div> -->
      <p class="footer-text">Copyright &copy; 2023 All rights reserved!</p>
    </footer>
  </body>
</html>
