{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}Title{% endblock %}</title>

    <link rel="stylesheet" href="{% static "base.css" %}" />

    <!-- ION ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <!--  -->
    {% block css_files %} {% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Quiz App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script>
      function deleteCookie(name) {
        document.cookie =
          name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      }

      function logout() {
        deleteCookie("user");
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <div class="nav-title">
          <img
            class="header-logo"
            src="../static/media/logo.png"
            alt="DriveTest"
          />
          <h3><a href="/"> Welcome to DriveTest </a></h3>
        </div>
        <ul class="nav-links">
          {% if user %}
          <div class="login-div">
            <li>
              <a class="logout-btn" href="/logoutUser"
                ><ion-icon
                  class="logout-icon"
                  name="log-out-outline"
                ></ion-icon>
                <p>Logout</p>
                <!-- <button class="logout-btn">Logout</button> -->
              </a>
            </li>
            <li>
              <a class="welcome-btn" href="#"
                ><ion-icon
                  class="user-icon"
                  name="person-circle-outline"
                ></ion-icon
                ><span>Hi, {{user}}</span>
                <ion-icon name="chevron-down-outline"></ion-icon
              ></a>
            </li>
          </div>
          {% else %}
          <li><a href="/">Log in</a></li>
          <li><a href="/register">Sign up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <footer>
      <h2 class="footer-icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-linkedin"></ion-icon>
      </h2>
      <div class="footer-links">
        <p>Home</p>
        <p>About</p>
        <p>Contact Us</p>
      </div>
      <div class="footer-links">
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
      </div>
      <p class="footer-text">Copyright &copy; 2023 All rights reserved!</p>
    </footer>
  </body>
</html>
