{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}Title{% endblock %}</title>

    <link rel="stylesheet" href="{% static "base.css" %}" />
    <!--  -->
    {% block css_files %} {% endblock %}
  </head>
  <body>
    <header>
      <nav class="navigation">NAVBAR</nav>
    </header>

    {% block content %} {% endblock %}

    <footer>THIS IS THE footer</footer>
  </body>
</html>
