<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App - Login</title>

    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body> -->

{% extends 'base.html' %} {% load static %}
<!--  -->

{% block css_files %}
<link rel="stylesheet" href="../static/styles.css" />
{%endblock %}

<!--  -->
{% block page_title %} Quiz App - Login {% endblock %}

<!--  -->

{% block content %}
<div class="main-container">
  <form method="POST" action="/login">
    {%csrf_token%}
    <div>
      <p>Enter Login Details</p>
      <div class="input-container">
        <p>Username :</p>
        {{form.username}}
      </div>
      <!-- <div class="input-container">
            <p>Name :</p>
            {{form.name}}
          </div> -->
      <div class="input-container">
        <p>Password :</p>
        {{form.password}}
      </div>
      {% for message in messages%}
      <!-- {% if error %} -->
      <div class="error-message">{{message}}</div>
      <!-- {% endif %} -->
      {%endfor %}
      <div>
        <br />
        <button class="btn-login" type="submit">Login</button>
      </div>
    </div>
  </form>

  <p>New User? <a href="/register">Register here</a></p>
</div>

{% endblock %}
<!-- </body>
</html> -->
