<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="../static/quiz.css" />
  </head>
  <body> -->

{% extends 'base.html' %} {% load static %}
<!--  -->

{% block css_files %}
<link rel="stylesheet" href="../static/quiz.css" />
{%endblock %}

<!--  -->
{% block page_title %} Quiz App - Quiz {% endblock %}

<!--  -->

{% block content %}
<main class="main-container">
  <form
    id="quizForm"
    method="post"
    action="/result"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="form-group">
      <h4>
        Answer the questions after carefully reading them. For each question,
        you may only choose one answer. Good luck.
      </h4>
      {% for que in questions %}
      <div class="question-container">
        <h3 class="question">{{forloop.counter}}. {{que.question}}</h3>
        <ul class="options-list">
          {% for ans in que.answers %}
          <li class="option">
            <input
              type="radio"
              id="{{ans.id}}"
              value="{{ans.id}}"
              name="question{{que.id}}"
              required
            />
            <label for="{{ans.id}}"> {{ans.answer}} </label>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <div class="btn-div">
      <button id="submitButton" class="submit-btn">Submit</button>
    </div>
  </form>
</main>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("quizForm");
    const submitButton = document.getElementById("submitButton");

    submitButton.addEventListener("click", function (event) {
      if (!validateForm()) {
        event.preventDefault();
      }
    });

    function validateForm() {
      const questions = document.querySelectorAll(".question-container");

      for (const question of questions) {
        const options = question.querySelectorAll("input[type=radio]");
        let isOptionSelected = false;

        for (const option of options) {
          if (option.checked) {
            isOptionSelected = true;
            break;
          }
        }

        if (!isOptionSelected) {
          alert("Please select all the answer.");
          return false;
        }
      }

      return true;
    }
  });
</script> -->
{% endblock %}

<!-- </body>
</html> -->
