{% extends 'base.html' %} {% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
    {%load static%}
     comment this line--------------------  <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> -->
<!-- <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body> -->

<!--  -->

{% block css_files %}
<link rel="stylesheet" href="../static/styles.css" />
{%endblock %}

<!--  -->
{% block page_title %} Quiz App - Login {% endblock %}

<!--  -->

{% block content %}
<div class="main-container">
  <form method="POST">
    {%csrf_token%}
    <div>
      <p>Enter User Details</p>
      <div class="input-container">
        <p>Username :</p>
        {{form.username}}
        <!-- <input
              id="username"
              name="username"
              placeholder="Enter Username"
              required
              type="text"
            /> -->
      </div>
      <div class="input-container">
        <p>Full Name :</p>
        {{form.name}}
        <!-- <input
              id="name"
              name="name"
              placeholder="Enter Name"
              required
              type="text"
            /> -->
      </div>
      <div class="input-container">
        <p>Password :</p>
        {{form.password}}
        <!-- <input
              id="password"
              name="password"
              placeholder="Enter Password"
              required
              type="password"
            /> -->
      </div>
      {% if error %}
      <div class="error-message">{{error}}</div>
      {% endif %}
      <div>
        <br />
        <button class="btn-register" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}

<!-- </body>
</html> -->
