* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* *****************NAVBAR*************** */
/* ************************************** */
.navigation {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #04aa6d;
}

.navigation h3 {
  margin-bottom: 0;
}

.navigation h3 a {
  text-decoration: none;
  color: #333;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  background-color: #a98467;
  padding: 12px 20px;
  border-radius: 1000px;
  color: #fff;
}

.login-div {
  position: relative;
}

.logout-btn {
  display: none;
  position: absolute;
  top: 10;
  right: 10;
  z-index: 9;

  padding: 10px 40px;
  margin-top: 35px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-div:hover .logout-btn {
  display: inline-block;
}

/* *****************FOOTER*************** */
/* ************************************** */
footer {
  text-align: center;
  background-color: #555;
  color: #fff;
  padding: 30px;
}

footer h2 {
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* margin-bottom: 20px; */
}

.footer-links p {
  cursor: pointer;
}
