.main-container {
  padding: 50px 20px;
  padding-top: 20px;
  margin: 0 auto;
  width: 50%;
}

* {
  list-style: none;
}

.question-container {
  margin: 8px 0;
  padding: 20px 40px;
  padding-bottom: 0;
  background-color: #ebedf2;
}

.option {
  padding: 10px;
  /* background-color: #fff; */
  border-bottom: 1px solid #fff;
}
