/* body {
  background: #eee;
  height: 100%;
  margin: 25px 0;
  padding-left: 300px;
} */

h2 {
  margin-bottom: 40px;
}

.main-container,
.result-container {
  margin: 40px auto;
  padding: 50px 60px;
  max-width: 600px;
  text-align: center;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
}

.input-container {
  margin: 20px;
}

.input-container p {
  margin: 10px;
}

.input-container input {
  padding: 10px;
  width: 300px;
  height: 30px;
}

.btn-login,
.btn-register {
  padding: 15px 40px;
  margin-bottom: 20px;
  border-radius: 100px;
  border: none;
  color: #fff;
  background-color: #04aa6d;
  cursor: pointer;
}

.percentage {
  font-size: 18px;
  font-weight: 600;
}

.try-again-link {
  margin-bottom: 30px;
}

.try-again-link a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 1000px;
  color: #333;
  background-color: #ffecd1;
}

.btn-primary {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 1000px;
  background-color: #04aa6d;
}

/* *******************QUIZ RESULT**************** */
/* ********************************************** */
.result-container {
  margin: 50px auto;
  text-align: center;
}
